autocomplete==0.0.104
av==8.0.3
bokeh==2.3.2
button==0.0.3.post3
gTTS==2.2.2
opencv-python==4.5.2.52
pydub==0.25.1
spellchecker==0.4
streamlit-bokeh-events==0.1.2
streamlit-webrtc==0.20.0
tensorflow-cpu==2.4.1


